body {
  margin: 0;
  font-family: "NanumSquareR", "NanumSquareB", "NanumSquareEB", "NanumSquareL",
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: NanumSquareR, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@font-face {
  font-family: "NanumSquareR";
  src: url("./fonts/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareB";
  src: url("./fonts/NanumSquareB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareEB";
  src: url("./fonts/NanumSquareEB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareL";
  src: url("./fonts/NanumSquareL.ttf") format("truetype");
}
